@font-face {
    font-family: "Allerta";
    src: url(fonts/Allerta-Regular.ttf);
}

@font-face {
    font-family: "fredoka";
    src: url(fonts/fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Allerta-Stencil";
    src: url(fonts/Allerta_Stencil/AllertaStencil-Regular.ttf);
}

:root {
    --laranja-goodficado: #F06437;
    --azul-goodficado: #217EA8;
    --laranja-hover: #AB4624;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgba(201, 204, 240, 1) 0%, rgba(196, 225, 238, 1) 19%, rgba(196, 224, 238, 1) 46%, rgba(213, 221, 220, 1) 72%, rgba(237, 217, 195, 1) 100%);
}

.container-grid {
    width: 66%;
    max-width: 1400px;
    margin: 0 auto;
}

.banner {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.45) 0%, rgba(0, 0, 0, 0.45) 49%, rgba(0, 0, 0, 0.45) 100%);
    background-image: url(img/banner-pret.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: block;
}

header {
    height: 124px;
}

header div.container-grid {
    height: 100%;
    display: flex;
}

header button {
    display: none;
}

.nome-logo {
    display: none;
}

.mome-logo svg {
    height: 70px;
}

#menu-site {

    display: none;
}

.logo {
    width: 177px;
    height: 87px;
    margin-top: 31px;
    align-items: flex-start;
}

.menu {
    width: 1300px;
    margin-top: 31px;
    background-color: rgba(19, 81, 110, 0.65);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 60px;
    border-radius: 10px;
}

.menu a {
    padding: 37px;
    padding-bottom: 40px;
    color: white;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 500ms ease;
    font-size: 20px;
    font-family: "Allerta";
}

.menu a:hover {
    text-decoration-color: white;
}

.frase-banner {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: right;
    margin-top: 380px;
    background-color: rgba(19, 81, 110, 0.65);
}

.conteudo-banner {
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

.cont-banner {
    height: 400px;
    background-repeat: no-repeat;
    width: 100%;
}

.cont-banner img {
    width: 100%;
}

#cases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.nome-empresa {
    margin-top: 40px;
    width: 35vw;
    align-self: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.card {
    height: 585px;
    width: 350px;
    width: 28%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 171, 86, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.card img {
    margin-bottom: 30px;
    padding-top: 20px;
    width: 80%;
}

.card a {
    background-color: var(--laranja-goodficado);
    border: none;
    height: 70px;
    width: 210px;
    border-radius: 12px;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 27px;
    font-family: "Allerta";
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: underline transparent;
}

.card a:hover {
    background-color: var(--laranja-hover);
}

#cases h2 {
    display: flex;
    justify-content: space-between;
    font-size: 31px;
    font-family: "Allerta-Stencil";
    padding-top: 25px;
    padding-bottom: 15px;
}

#sobre {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

#sobre svg {
    height: 400px;
    display: flex;
    color: var(--laranja-goodficado);
}

#sobre svg:hover {
    color: #217EA8;
}

.conteudo-sobre {
    background-color: rgba(236, 202, 158, 0.53);
    border-radius: 15px;
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#sobre h2 {
    display: flex;
    justify-content: center;

    font-size: 32px;
    font-family: "Allerta";

}

#sobre p {
    align-items: center;
    font-size: 22px;
    margin: 0 40px;

    font-family: "fredoka";
}

#portfolio {
    width: 100%;
}

.conteudo-portfolio {
    background-color: rgba(236, 202, 158, 0.53);
    border-radius: 15px;
    height: 300px;

    flex-direction: column;
    justify-content: space-evenly;
}

.conteudo-portfolio h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    padding-top: 35px;
    font-size: 32px;
    font-family: "Allerta";

}

.textop {
    display: flex;
    justify-content: space-around;
}

.textop p {
    width: 60%;
    font-size: 22px;
    font-family: "fredoka";
}

.textop button {
    background-color: var(--laranja-goodficado);
    border: none;
    border-radius: 10px;
    width: 121px;
    height: 75px;
    font-size: 27px;
    font-family: "Allerta";
}

.textop button:hover {
    background-color: var(--laranja-hover);
}

#case-1 {
    width: 100%;
}

.conteudo-case-1 svg {
    height: 400px;
    display: flex;
    color: var(--laranja-goodficado);
}

.conteudo-case-1 svg:hover {
    color: #217EA8;
}

#case-1 h2 {
    font-size: 40px;
    font-family: "Allerta-Stencil";
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 170px;
}

.conteudo-case-1 {
    display: flex;
    align-items: center;
}

.conteudo-case-1 p {
    background-color: rgba(236, 202, 158, 0.53);
    border-radius: 15px;
    font-size: 25px;
    font-family: "fredoka";
    padding: 25px 25px;
    margin: 0 30px;

}

.conteudo-case-1 img {
    height: 71vh;
    width: 34vw;
    border-radius: 15px;
    margin-right: 50px;
}

#case-2 {
    width: 100%;
}

.case2 {
    display: flex;
    align-items: center;
}

#case-2 h2 {
    font-size: 40px;
    font-family: "Allerta-Stencil";
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 170px;
}

.case2 img {
    height: 71vh;
    width: 34vw;
    border-radius: 15px;
    margin-left: 50px;
}

.case2 p {
    font-size: 25px;
    font-family: "fredoka";
    margin: 0 30px;
    padding: 24px;
    border-radius: 15px;
    background-color: rgba(236, 202, 158, 0.53);
}

#case-3 h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Allerta-Stencil";
    margin-bottom: 100px;
    margin-top: 170px;
}

.case3 {
    display: flex;
    align-items: center;
}

.case3 p {
    font-size: 25px;
    font-family: "fredoka";
    margin: 0 30px;
    padding: 24px;
    border-radius: 15px;
    background-color: rgba(236, 202, 158, 0.53);
}

.case3 img {
    height: 71vh;
    width: 34vw;
    border-radius: 15px;
    margin-right: 50px;
}

#contato {
    width: 100%;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.usuario h2 {
    font-family: "fredoka";
    font-size: 25px;
    margin-left: 10px;
}

.conteudo-contato {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 71px;
}

.conteudo-contato svg {
    display: flex;
    align-items: flex-end;
    color: var(--laranja-goodficado);
}

.conteudo-contato svg:hover {
    color: var(--azul-goodficado);
}

.conteudo-contato img {
    width: 15%;
    margin-bottom: 50px;
    margin-right: 25px;
}

.conteudo-contato form {
    margin-right: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.campo {
    display: flex;
    flex-direction: column;
    font-family: "fredoka";
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;

}

.campo input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 20px;
    padding: 10px 0;
    margin-left: 10px;
    background-color: rgba(245, 171, 86, 0.76);
}

.campo label {
    padding-bottom: 20px;
    margin-left: 8px;
    font-size: 25px;
}

.campo input:focus {
    outline: 2px solid #F06437;
}

.conteudo-contato button {
    outline: none;
    font-size: 25px;
    font-family: "fredoka";
    background-color: #F06437;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    text-transform: uppercase;
}

.conteudo-contato button:hover {
    background-color: var(--laranja-hover);
}

footer {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

footer img {
    height: 71px;
    align-self: center;
    margin-right: 150px;
}

.conteudo-footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.icones svg {
    margin: 0 17px;
}

.icones a {
    color: var(--laranja-goodficado);
}

.conteudo-footer h2 {
    font-family: "allerta";
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.conteudo-footer a {
    font-family: "fredoka";
    font-size: 20px;
    text-align: center;
    color: var(--laranja-goodficado);
}

.conteudo-footer a:hover {
    color: var(--azul-goodficado);
}

@media screen and (max-width:1300px) {
    .card {
        height: 500px;
        width: 300px;
    }

    .conteudo-contato form {
        margin-right: 70px;
    }

    .icones svg {
        margin: 0;
        width: 70px;
    }
}

@media screen and (max-width:1080px) {

    .menu {
        width: 1000px;
    }

    .menu a {
        font-size: 17px;
        padding: 20px;
        display: flex;
        align-self: center;

    }

    .card {
        height: 400px;
        width: 230px;
    }

    .button {
        display: none;
    }

    .card a {
        width: 160px;
        padding-top: 3px;
    }

    #sobre p {
        font-size: 20px;
    }

    #sobre svg,
    .conteudo-contato svg {
        display: none;
    }

    .textop p {
        font-size: 20px;
    }

    .conteudo-case-1 p {
        font-size: 20px;
    }

    .case2 p,
    .case3 p {
        font-size: 20px;
    }

    .conteudo-contato {
        display: flex;
        justify-content: center;
    }

    .icones {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .icones svg {
        width: 40px;
        height: 50px;
    }

    .conteudo-footer h2 {
        font-size: 16px;
        margin: 0;
        text-align: left;
    }

    .conteudo-footer {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:800px) {
    .banner {
        background-size: 780px 600px;
    }

    header {
        background-color: #13516E;
    }

    header .logo {
        display: none;
    }

    .button {
        display: unset;
    }

    .container-grid {
        width: 100%;
    }

    .nome-logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    header button {
        border-radius: 15px;
        border: none;
        background: none;
        color: var(--laranja-goodficado);
        height: 125px;
        width: 130px;
    }



    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 86px;
        right: 0;
        width: 400px;
        height: 400px;
    }

    .menu a {
        font-size: 22px;
    }

    #cases {
        align-items: center;
    }

    .cards {
        flex-direction: column;
        width: 350px;
    }

    .card {
        width: 500px;
        height: 500px;
        margin-bottom: 130px;
    }

    .card img {
        width: 60%;
        height: 320px;
        padding: 0;
        margin: 0;
    }

    .card a {
        margin-top: 15px;
        display: flex;
        align-items: center;
        font-size: 30px;
    }

    #sobre {
        height: 600px;
    }

    .conteudo-sobre {
        height: 100%;
    }

    .conteudo-portfolio {
        margin-bottom: 100px;
    }

    #case-1,
    #case-2,
    #case-3 {
        display: none;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
    }

    footer img {
        margin: 0;
    }

    .conteudo-footer h2 {
        display: flex;
        justify-content: center;
    }

    .icones {
        width: 100%;
        margin-top: 30px;
        justify-content: center;
        align-items: flex-end;
    }
}

@media screen and (max-width:600px) {
    .banner {

        background-size: 630px 500px;
        height: 100vh;
    }

    .nome-logo img {
        height: 65px;
        height: 55%;
        width: 60%;
        display: unset;
    }

    #cases h2 {
        font-size: 25px;
        padding-top: 10px;
    }

    .card {
        width: 300px;
        height: 300px;
        margin-bottom: 100px;
    }

    .card a {
        font-size: 27px;
        border-radius: 8px;
    }

    .card img {
        width: 50%;
        height: 280px;
    }

    #sobre p {
        font-size: 18px;
    }

    .conteudo-portfolio h2 {
        margin-bottom: 45px;
    }

    .textop p {
        font-size: 18px;
        align-items: center;
    }

    .conteudo-contato img {
        display: none;
    }

    .conteudo-contato form {
        margin: 0;
    }

    .campo {
        margin-left: 0;
    }

}

@media screen and (max-width:500px) {
    .nome-logo img {
        width: 85%;
    }

    .nome-empresa {
        width: 50vw;
        margin-bottom: 20px;
    }

    #sobre p {
        font-size: 16px;
    }

    .textop p {
        font-size: 16px;
        align-items: center;
    }

    .conteudo-contato {
        margin-top: 50px;
    }

    .conteudo-contato img {
        display: none;
    }

    .conteudo-contato form {
        margin: 0;
    }

    .campo {
        margin-left: 0;
    }

    .icones {
        width: 40%;
        align-self: center;
    }

    .icones a {
        margin: 0 4px;
    }

    footer {
        margin-top: 100px;
    }

    footer img {
        height: 50px;
    }
}

@media screen and (max-width:400px) {

    .banner {
        background-size: 500px 500px;
    }

    header button {
        padding-left: 24px;
    }

    .menu {
        width: 270px;
    }

    .nome-logo img {
        width: 125%;
    }

    .cards {
        width: 250px;
    }

    .card {
        width: 200px;
        height: 250px;
    }

    #sobre h2 {
        font-size: 25px;
    }

    .conteudo-sobre,
    .conteudo-portfolio {
        border-radius: 0;
    }

    .conteudo-portfolio {
        height: 400px;
    }

    .conteudo-portfolio h2 {
        font-size: 25px;
    }

    .textop {
        flex-direction: column;
        align-items: center;
    }

    .textop p {
        width: 60%;
    }

    .textop button {
        margin-top: 25px;
        height: 55px;
        font-size: 25px;
    }

    .campo label {
        font-size: 20px;
    }

    .campo input {
        font-size: 15px;
    }

    .conteudo-contato button {
        font-size: 20px;
    }

}