@font-face {
    font-family: "Allerta";
    src: url(fonts/Allerta-Regular.ttf);
}

@font-face {
    font-family: "fredoka";
    src: url(fonts/fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

:root {
    --laranja-goodficado: #F06437;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgba(201, 204, 240, 1) 0%, rgba(196, 225, 238, 1) 19%, rgba(196, 224, 238, 1) 46%, rgba(213, 221, 220, 1) 72%, rgba(237, 217, 195, 1) 100%);
}

.container-grid {
    width: 69vw;
    max-width: 1400px;
    margin: 0 auto;
}

.banner {
    background-image: url(img/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: block;
}

header {
    height: 124px;
}

header div.container-grid {
    height: 100%;
    display: flex;
}

.logo {
    width: 177px;
    height: 87px;
    margin-top: 31px;
    align-items: flex-start;
}

.menu {
    width: 1300px;
    margin-top: 31px;
    background-color: rgba(19, 81, 110, 0.65);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 60px;
    border-radius: 10px;
}

.menu a {
    padding: 37px;
    color: white;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 500ms ease;
    font-size: 20px;
    font-family: "fredoka";
}

.menu a:hover {
    text-decoration-color: white;
}

.frase-banner {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: right;
    margin-top: 380px;
    background-color: rgba(19, 81, 110, 0.65);
}

.conteudo-banner {
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

#cases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

.nome-empresa {
    margin-top: 30px;
    width: 35vw;
    align-self: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.card {
    height: 550px;
    width: 550px;
    margin: 0 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 171, 86, 0.3);
}

.card img {
    display: flex;
    padding-top: 20px;
    height: 303px;
    width: 264px;
}

.card button {
    background-color: var(--laranja-goodficado);
    border: none;
    height: 85px;
    width: 210px;
    border-radius: 20px;
    font-size: 27px;
    font-family: "Allerta";
}

.card button:hover {
    background-color: #CD532B;
}

#cases h2 {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    font-size: 50px;
    color: white;
}