@font-face {
    font-family: "Allerta";
    src: url(fonts/Allerta-Regular.ttf);
}

@font-face {
    font-family: "fredoka";
    src: url(fonts/fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Allerta-Stencil";
    src: url(fonts/Allerta_Stencil/AllertaStencil-Regular.ttf);
}

:root {
    --laranja-goodficado: #F06437;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgba(201, 204, 240, 1) 0%, rgba(196, 225, 238, 1) 19%, rgba(196, 224, 238, 1) 46%, rgba(213, 221, 220, 1) 72%, rgba(237, 217, 195, 1) 100%);
}

.container-grid {
    width: 69vw;
    max-width: 1400px;
    margin: 0 auto;
}

.banner {
    background-image: url(img/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: block;
}

header {
    height: 124px;
}

header div.container-grid {
    height: 100%;
    display: flex;
}

.logo {
    width: 177px;
    height: 87px;
    margin-top: 31px;
    align-items: flex-start;
}

.menu {
    width: 1300px;
    margin-top: 31px;
    background-color: rgba(19, 81, 110, 0.65);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 60px;
    border-radius: 10px;
}

.menu a {
    padding: 37px;
    color: white;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 500ms ease;
    font-size: 20px;
    font-family: "fredoka";
}

.menu a:hover {
    text-decoration-color: white;
}

.frase-banner {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: right;
    margin-top: 380px;
    background-color: rgba(19, 81, 110, 0.65);
}

.conteudo-banner {
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

#cases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.nome-empresa {
    margin-top: 40px;
    width: 35vw;
    align-self: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.card {
    height: 550px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 171, 86, 0.3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.card img {
    margin-bottom: 30px;
    padding-top: 20px;
    width: 80%;
}

.card a {
    background-color: var(--laranja-goodficado);
    border: none;
    height: 70px;
    width: 210px;
    border-radius: 12px;
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 27px;
    font-family: "Allerta";
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: underline transparent;
}

.card a:hover {
    background-color: #CD532B;
}

#cases h2 {
    display: flex;
    justify-content: space-between;
    font-size: 31px;
    font-family: "Allerta-Stencil";
    padding-top: 25px;
    padding-bottom: 15px;
}

#sobre {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo-sobre {
    background-color: rgba(236, 202, 158, 0.53);
    border-radius: 15px;
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#sobre h2 {
    display: flex;
    justify-content: center;

    font-size: 32px;
    font-family: "Allerta";

}

#sobre p {
    align-items: center;
    font-size: 22px;
    margin: 0 40px;

    font-family: "fredoka";
}

#portfolio {
    width: 100%;
}

.conteudo-portfolio {
    background-color: rgba(236, 202, 158, 0.53);
    border-radius: 15px;
    height: 300px;

    flex-direction: column;
    justify-content: space-evenly;
}

.conteudo-portfolio h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    padding-top: 35px;
    font-size: 32px;
    font-family: "Allerta";

}

.textop {
    display: flex;
    justify-content: space-around;
}

.textop p {
    width: 60%;
    font-size: 22px;
    font-family: "fredoka";
}

.textop button {
    background-color: var(--laranja-goodficado);
    border: none;
    border-radius: 10px;
    width: 121px;
    height: 75px;
    font-size: 27px;
    font-family: "Allerta";
}

.textop button:hover {
    background-color: #CD532B;
}

#case-1 {
    width: 100%;

}

#case-1 h2 {
    font-size: 40px;
    font-family: "Allerta-Stencil";
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 170px;
}

.conteudo-case-1 {
    display: flex;
    align-items: center;
}

.conteudo-case-1 p {
    background-color: rgba(236, 202, 158, 0.53);
    border-radius: 15px;
    font-size: 25px;
    font-family: "fredoka";
    padding: 25px 25px;
    margin: 0 30px;

}

.conteudo-case-1 img {
    height: 71vh;
    width: 34vw;
    border-radius: 15px;
    margin-right: 50px;
}

#case-2 {
    width: 100%;
}

.case2 {
    display: flex;
    align-items: center;
}

#case-2 h2 {
    font-size: 40px;
    font-family: "Allerta-Stencil";
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 170px;
}

.case2 img {
    height: 71vh;
    width: 34vw;
    border-radius: 15px;
    margin-left: 50px;
}

.case2 p {
    font-size: 25px;
    font-family: "fredoka";
    margin: 0 30px;
    padding: 24px;
    border-radius: 15px;
    background-color: rgba(236, 202, 158, 0.53);
}

#case-3 h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Allerta-Stencil";
    margin-bottom: 100px;
    margin-top: 170px;
}

.case3 {
    display: flex;
    align-items: center;
}

.case3 p {
    font-size: 25px;
    font-family: "fredoka";
    margin: 0 30px;
    padding: 24px;
    border-radius: 15px;
    background-color: rgba(236, 202, 158, 0.53);
}

.case3 img {
    height: 71vh;
    width: 34vw;
    border-radius: 15px;
    margin-right: 50px;
}

#contato {
    width: 100%;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.usuario h2 {
    font-family: "fredoka";
    font-size: 25px;
    margin-left: 10px;
}

.conteudo-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 71px;
}

.conteudo-contato img {
    width: 15%;

}

.campo {
    font-family: "fredoka";
    font-size: 20px;
    background-color: rgba(245, 171, 86, 0.76);
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;

}

.campo input {
    border-radius: 5px;
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 15px;
    padding: 10px 0;
    margin-left: 10px;
}

.campo input:focus {
    outline: 2px solid #F06437;
}